@import "../../styles/main";

main {
  .main-bg-img {
    margin-bottom: 50px;
    .bg-img-container {
      position: relative;
      height: 360px;
      @media screen and (min-width: 768px) {
        height: 480px;
      }
      @media screen and (min-width: 1200px) {
        height: 600px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0)
        );
      }
    }
  }

  .room-container {
    .r-col-1 {
      width: 100%;
      @media (min-width: 1200px) {
        width: calc(100% - 440px - 70px);
      }
      .room-heading {
        .item-title {
          font-size: 30px;
        }
        .item-subtitle {
          display: block;
          margin-top: 20px;
          font-size: 15px;
          color: var(--border-primary-color);
        }
        .room-info {
          margin: 25px 0 40px;
          ul {
            font-size: 14px;
            display: flex;
            flex-wrap: wrap;

            li {
              padding-right: 20px;
              display: flex;
              align-items: center;
              margin: 5px 0;
              line-height: 28px;
              .icon {
                margin-right: 10px;
              }
              .icon-title {
              }
            }
          }
        }
        .item-text {
          margin-bottom: 20px;
          p {
            color: #cfcfcf;
            margin-bottom: 30px;
            &:last-child {
              margin: 0;
            }
          }
        }
      }

      .friendly-amenities {
        .card-wrapper {
          display: flex;
          flex-wrap: wrap;
          margin: calc(0px - 20px / 2);
          width: calc(100% + 20px);
          .card-item {
            padding: calc(20px / 2);
            width: 100%;
            @media (min-width: 600px) {
              width: 50%;
            }
            @media screen and (min-width: 1024px) {
              width: 33.333%;
            }
            .ci-inner {
              background-color: #ffffff0a;
              border-radius: 5px 5px 5px 5px;
              padding: 25px 20px 25px 20px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              .icon {
                display: inline-block;
                margin-right: 16px;
                img {
                  color: var(--border-primary-color);
                }
              }
              .title {
                font-size: 16px;
              }
            }
          }
        }
      }

      .room-amenities {
        margin-bottom: 20px;

        .ra-items {
          display: flex;

          flex-direction: column;
          @media (min-width: 600px) {
            flex-direction: row;
            
          }
          .ra-wrapper {
            display: flex;
            flex-wrap: wrap;
            margin: calc(0px - 20px / 2);
            padding-bottom: calc(40px / 2);
            width: calc(100% + 20px);
            .ra-item {
              position: relative;
              display: flex;
              align-items: center;
              width: 100%;
              padding: calc(20px / 2);
              .icon {
                display: block;
                margin-right: 16px;
              }
  
              .ra-item-title {
                position: relative;
                flex: 1 1 auto;
                line-height: 1.35;
                font-size: 17px;
              }
            }
          }
        }
      }

      .suite {
        ul {
          li {
            padding: 7px 0;
            line-height: 1.4;
            display: flex;
            align-items: center;
            .icon {
              display: block;
              margin-right: 15px;
              color: var(--border-primary-color);
              
            }
            .s-title {
              color: #cfcfcf;
              font-size: 18px;

            }
          }
        }
      }
    }

    .r-col-2 {
      width: 100%;
      @media (min-width: 1200px) {
        width: 440px;
      }
    }
  }
}
