@import "../../styles/main";

.navbar-container {
  font-family: "Jost", sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;

  .navbar-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 33.33333%;

    &.logo {
      justify-content: center;
      img {
        width: 190px;
      }
    }
    &:last-child {
      justify-content: flex-end;
    }

    .menu-icon {
      display: flex;
      flex-direction: column;
      width: 35px;
      margin-right: 30px;
      cursor: pointer;

      .menu-line {
        display: inline-block;
        height: 1px;
        width: 100%;
        background-color: white;

        &:nth-child(2) {
          margin: 5px 0;
        }
      }
    }

    nav {
      .menu {
        display: flex;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 500;
        .menu-list {
          position: relative;
          a {
            padding: 0 15px;
            line-height: 60px;
            display: block;
            position: relative;
            &.active {
              .active:before {
                transform: scaleX(1);
              }
            }
            .active:before {
              content: "";
              display: block;
              position: absolute;
              bottom: 15px;
              background-color: #ffffff;
              height: 1px;
              width: calc(100% - 50px);
              transition: transform 0.2s ease-in-out;
              transform: scaleX(0);
              transform-origin: left;
            }

            .icon-container {
              display: inline-block;
              width: 14px;
              margin-left: 5px;
              text-align: center;
            }
          }

          .submenu {
            position: absolute;
            bottom: 0;
            left: -15px;
            z-index: 99;
            background-color: #000;
            display: block;
            min-width: 200px;
            padding: 20px 0;
            margin: 0;
            text-align: left;
            transition: all 0.3s;
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
            transform: translateY(105%);

            .submenu-list {
              a {
                position: relative;
                display: block;
                padding: 0 30px;
                font-size: 0.9375rem;
                font-weight: 400;
                letter-spacing: 0;
                text-transform: capitalize;
                line-height: 36px;
                transition: all 0.4s;
                white-space: nowrap;
                &:hover {
                  color: var(--primary);
                }
              }
            }
          }

          &:hover {
            .active:before {
              transform: scaleX(1);
            }

            .submenu {
              opacity: 1;
              pointer-events: auto;
              visibility: visible;
              transform: translateY(100%);
            }
          }
        }
      }
    }

    .language {
      margin-right: 50px;
      font-size: 15px;
    }
  }
}
